<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julia R</title>
</head>
<body style="background-color: rgb(24, 39, 104); color: rgb(255, 255, 255);">
    <h1>Minha primeira página HTML no Flask</h1>
    <h1>--------------------★---------------------</h1>
    <h1>próximos passos</h1>
    <ul>
        <li>Criar mais rotas</li>
        <li>Criar link entre as páginas</li>
        <li>Criar conteúdo estático, CSS e Imagens</li>
    </ul>
<br>
<a href="{{ url_for('sac') }}" style="color: aliceblue;">Fale comigo</a>
<h1></h1>
<a href="https://wplace.live/" style="color: gold;"> Se estiver no tédio </a>

</body>
</html>